<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.3/highcharts.src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.1.0/highcharts-ng.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<link rel="icon"
      type="image/png"
      href="favicon.ico">

<title>AIRouting</title>

<body ng-app="air">
<h1 class="text-center">AIRouting</h1>
<div ng-controller="ChartsCtrl">
    <table class="table table-bordered charts-tbl"
           ng-if="loaded==total">
        <tr>
            <td></td>
            <td ng-repeat="psp in psps">
                <img src="{{psp}}.png" style="width: 300px;"/>
            </td>
        </tr>
        <tr ng-repeat="bin in bins">
            <td>
                <div style="width: 50%;">
                    <div><img src="chipcard-icon-icons.png" style="width: 80px;"/></div>
                    <p style="text-align: center; font-size: 30px; width: 80px;">{{bin}}</p>
                </div>
            </td>
            <td ng-repeat="psp in psps">
                <highchart config="chartsCfgs[bin][psp]"></highchart>
            </td>
        </tr>
    </table>
</div>
</body>
