<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.3/highcharts.src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.1.0/highcharts-ng.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<link rel="icon"
      type="image/png"
      href="favicon.ico">

<title>AIRouting</title>

<body ng-app="air">
<h1 class="text-center ai-routing-heading">AIRouting</h1>
<div ng-controller="ChartsCtrl">
    <table class="table charts-tbl">
        <tr>
            <td></td>
            <td ng-repeat="psp in psps">
                <img class="centered-psp" ng-src="{{psp}}.png"/>
            </td>
            <td>
                <button class="btn btn-success btn-large"
                        ng-click="train()">
                    Train algorithm
                </button>
            </td>
            <td>
                <button class="btn btn-info btn-large"
                        ng-click="reset()">
                    Flush Historical Data
                </button>
            </td>
        </tr>
        <tr ng-repeat="bin in bins">
            <td>
                <div style="width: 50%;">
                    <div><img ng-src="{{bin}}.png" style="width: 80px;"/></div>
                    <p style="text-align: center; font-size: 30px; width: 80px; text-transform: uppercase;">{{bin}}</p>
                </div>
            </td>
            <td ng-repeat="psp in psps">
                <div ng-if="chartsCfgs[bin][psp]">
                    <highchart config="chartsCfgs[bin][psp]"></highchart>
                </div>
            </td>
            <td>
                <button class="btn btn-large" ng-click="suggestPSP(bin)">PSP for {{bin | uppercase}}</button>
                <br/>
                <br/>
                <img ng-if="suggested[bin]"
                     style="height: 30px"
                     ng-src="{{suggested[bin]}}.png"/>
            </td>
        </tr>
    </table>
</div>
</body>
