
body {
    background-color: #f2f2f2;
}

img.centered-psp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.highcharts-credits {
    display: none;
}

.charts-tbl {
    width: 80%;
    max-width: 700px;
}

.ai-routing-heading {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(127, 127, 127);
    padding-top: 10px;
    padding-left: 5px;
    text-align: left !important;
}